.vc-better-forums-thread {
    gap: var(--space-10);
    padding: var(--space-sm);
    background-color: var(--background-base-low);
    border: 1px solid var(--border-subtle);
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out, background 0.2s ease-out,
        border 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
    border-radius: var(--radius-lg);

    &:hover,
    &:active {
        background-color: var(--background-modifier-hover);
        border-color: var(--background-modifier-hover);
        box-shadow: var(--elevation-high);
        transform: translateY(-2px);
    }

    &.vc-better-forums-thread-open {
        border-color: var(--background-modifier-selected);
        background-color: var(--background-modifier-selected);
        box-shadow: none;
        transform: none;
    }
}

.vc-better-forums-thread-body-container,
.vc-better-forums-thread-body,
.vc-better-forums-thread-header,
.vc-better-forums-footer {
    gap: var(--space-6);
    min-width: 0;
}

.vc-better-forums-thread-title-container {
    display: flex;
    flex-grow: 0;
    gap: var(--space-xs);
    align-items: center;
    flex-wrap: wrap;
}

.vc-better-forums-tag,
.vc-better-forums-tag-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xxs);
    padding: 2px 6px;
    border-radius: var(--radius-md);
    text-transform: uppercase;
    height: var(--size-md);
    letter-spacing: 0.02rem;
}

.vc-better-forums-tag-custom {
    --color: var(--blue-new-60);
    --bg: var(--blue-new-15);

    color: var(--color);
    background-color: var(--bg);

    &[data-color="green"] {
        --color: var(--green-new-60);
        --bg: var(--green-new-15);
    }

    &[data-color="yellow"] {
        --color: var(--yellow-new-60);
        --bg: var(--yellow-new-15);
    }

    &[data-color="orange"] {
        --color: var(--orange-new-60);
        --bg: var(--orange-new-15);
    }

    &[data-color="red"] {
        --color: var(--red-new-60);
        --bg: var(--red-new-15);
    }

    &[data-color="teal"] {
        --color: var(--teal-new-60);
        --bg: var(--teal-new-15);
    }
}

.vc-better-forums-tag {
    border: 1px solid var(--border-subtle);
    background: var(--button-secondary-background);
    color: var(--text-secondary);
}

.vc-better-forums-tag-emoji {
    width: var(--size-sm);
    height: var(--size-sm);
    object-fit: contain;
}

.vc-better-forums-tag-filtered {
    background-color: var(--message-reacted-background);
    color: var(--message-reacted-text);
    border-color: var(--brand-500);
}

.vc-better-forums-message-content {
    line-height: 1.5;
}

.vc-better-forums-message-content,
.vc-better-forums-message-content-inline {
    color: inherit;
    font: inherit;
}

.vc-better-forums-message-content-inline {
    display: inline;
    white-space: nowrap;

    > * {
        height: unset;
    }
}

.vc-better-forums-reaction-button {
    margin: 0;
    display: flex;

    :has(> &) {
        display: flex;
    }
}

.vc-better-forums-footer-section {
    display: flex;
    align-items: center;
    padding: var(--size-xs);
    gap: var(--space-xxs);
    border-radius: var(--radius-sm);
    background-color: var(--background-mod-subtle);
    color: var(--text-secondary);
}

.vc-better-forums-latest-message,
.vc-better-forum-latest-message-content {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vc-better-forums-footer-section-text {
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 2px;
}

.vc-better-forums-unread {
    color: var(--text-brand);
    background-color: var(--opacity-blurple-24);
    outline: 1px solid var(--blurple-50);
    outline-offset: -1px;
}

.vc-better-forums-icon {
    flex-shrink: 0;
    object-fit: contain;
}

.vc-better-forums-extra-member-count {
    background-color: var(--background-base-lower);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    padding-inline: 4px;
    border-radius: var(--radius-round);
    overflow: hidden;
    font-weight: 700;
    line-height: 0;
}

.vc-better-forums-thumbnail-override {
    object-fit: cover;
    max-height: var(--forum-post-thumbnail-size);
    max-width: var(--forum-post-thumbnail-size);
    border-radius: var(--radius-sm);
}

.vc-better-forums-thumbnail-container {
    --forum-post-thumbnail-size: 72px;

    max-height: var(--forum-post-thumbnail-size);
    max-width: var(--forum-post-thumbnail-size);
    overflow: hidden;
}

.vc-better-forums-spacer {
    flex-grow: 1;
}

.vc-better-forums-username a {
    color: var(--text-muted);
}

.vc-better-forums-typing,
.vc-better-forums-typing-text {
    flex-grow: 1;
}

.vc-better-forums-typing,
.vc-better-forums-typing-indicator {
    display: flex;
    align-items: center;
}

.vc-better-forums-typing {
    gap: var(--space-xxs);
}

.vc-better-forums-typing-indicator {
    background-color: var(--background-tertiary);
    border-radius: var(--radius-md);
    justify-content: center;
    padding: 6px 5px;
}

.vc-better-forums-typing-text {
    position: relative;
    inset: 0 !important;
    height: auto;
}

.vc-better-forums-empty-section {
    flex-grow: 0;
    margin-right: auto;
}

.vc-better-forums-timestamp {
    display: contents;
}
